@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #FFF;
    --primary: #61ECBC;
    --black: #182339;
}

/*html{
    font-size: 62.5%;
}*/

body {
    background-image: url("/public/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    /*font-family: "Outfit", system-ui;*/
}